/* Error: expected "{".
 *    ,
 * 69 | >>>>>>> parent of 2eda29c (making line chart)
 *    |                                              ^
 *    '
 *   scss\components\_Dashboard.scss 69:46  @import
 *   scss\components\_index.scss 7:10       @import
 *   scss\style.scss 7:10                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 69 \2502  >>>>>>> parent of 2eda29c (making line chart)\d\a    \2502                                               ^\a    \2575 \a   scss\\components\\_Dashboard.scss 69:46  @import\a   scss\\components\\_index.scss 7:10       @import\a   scss\\style.scss 7:10                   root stylesheet';
}
