.icon{
    animation: grow 1s ease-out backwards;
    animation-delay: .5s;
    transform-origin: center center;
    transition: transform .5s ease-in-out;
}
.icon:hover{
    transform: scale(1.2);
   
}
.bell{
    animation: grow 1s ease-out forwards;
    animation-delay: .5s;
    transform-origin: center center;
    transition: all .5s ease-out;
    transition: transform .5s ease-out;
}
.bell:hover {
    transform: scale(1.1);
    
}
.fb-stat,
.inst-stat,
.twit-stat{
    transition: background-color .8s ease-in-out;
    &:hover{

    background-color: rgb(35, 47, 63);;
    cursor: pointer;
    
}

}

@keyframes grow {
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(0.9);
    }
}


 
