.icon{
    animation: grow 1s ease-out backwards;
    animation-delay: .5s;
    transform-origin: center center;
    transition: transform .5s ease-out;
}
.icon:hover{
    transform: scale(1.2);
   
}
.bell{
    animation: grow 1s ease-out forwards;
    animation-delay: .5s;
    transform-origin: center center;
    transition: all .5s ease-out;
    transition: transform .5s ease-out;
}
.bell:hover {
    transform: scale(1.1);
    
}
.fb-stat,
.inst-stat,
.twit-stat{
    transition: transform .8s ease-in-out;
    transform-origin: center center;
}
.fb-stat:hover,
.inst-stat:hover,
.twit-stat:hover{
    transform: rotate(360deg);
    cursor: pointer;
}

@keyframes grow {
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(0.9);
    }
}


 
