.headline{
    margin: 15px 15px;
}

.traffic-title{
    margin: 15px 15px;
    
}

// .traffic-list-container{
//    width: 95%;
//    margin: 0 auto;
    
   

.traffic-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
    margin: -10px -38px;
}
.traffic-list li{
    
    margin: 0 7px;
    font-size: 17px;
    padding: 8px;
    &:hover{
        cursor: pointer;
    }
}
#hour-btn:hover,
#daily-btn:hover,
#weekly-btn:hover,
#monthly-btn:hover {
  background-color: rgb(32, 20, 63);
  border-radius: 13px;
  color: white;
  transition: all .5s ease-in-out;
}
.active {
  background-color: rgb(32, 20, 63);
  border-radius: 15px;
  color: white;
}

.alert{
    
    width: 90%;
    margin: 10px auto;
}
.alert-text{
    text-align: center;
    margin: 1px auto;
}
.alert-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0;
    // border: 1px solid black;
    border-radius: 6px;
    width: 98%;
    color: white;
    background-color: rgb(89, 89, 177);
    height: 50px;
    border: 1px solid black;
}
.alert-banner-close{
    margin: 1px 29px;
    color: white;
}
.dash-header{
    display: flex;
    flex-direction: row;
}
.tab{
    background-color: aqua;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
   margin-bottom: 3px;
    
}


.widget-container-full{
    width: 86%;
    margin: 31px 24px;
    height: 41%;
   
    
 }
 .traffic-chart{
    width: 100%;
    height: 100%;
    
 }

//chart 2///////////////////
.daily-title {
    margin: 15px 15px;
}
// .daily-chart{
//     width: 100%;
//     height: 100%;
// }
.daily-container-full{
    width: 90%;
    margin: 31px 24px;
    height: 58%;
    
}
.daily-chart{
  
    margin: 0;
    max-width: 90%;
}

//chart3
.mu-title {
    
    margin: 15px 15px;
}
.mu-container-full{
    width: 90%;
    margin: 31px 14px;
    height: 58%;
    
}

.mu-chart{
    margin: 0;
    max-width: 100%;
    
}
alert-banner-close:hover{
    cursor: pointer;
}