.headline{
    margin: 15px 15px;
}

.traffic-title{
    margin: 15px 15px;
    
}

.traffic-list-container{
   width: 95%;
   margin: 0 auto;
    
   
}
.traffic-list{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
    margin: -10px -53px;
}
.traffic-list li{
    padding: 0 10px;
    margin: 0 10px;
    font-size: 17px;
}
.widget-container-full{
    margin: 10px 0;
    height: 71%;
   
}
.traffic-chart{
   
    width: 100%;
    height: 100%;
}