.headline{
    margin: 15px 15px;
}

.traffic-title{
    margin: 15px 15px;
    
}

.traffic-list-container{
   width: 95%;
   margin: 0 auto;
    
   
}
.traffic-list{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
    margin: -10px -53px;
}
.traffic-list li{
    padding: 0 10px;
    margin: 0 10px;
    font-size: 17px;
}


.alert-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    // border: 1px solid black;
    border-radius: 6px;
    width: 90%;
    color: white;
    background-color: rgb(89, 89, 177);
    height: 50px;
}
.alert-banner-close{
    margin: 15px 29px;
    color: white;
}


.widget-container-full{
    margin: 10px 0;
    height: 71%;
   
}
.traffic-chart{
    margin: 25px 0;
    width: 100%;
    height: 100%;
}