.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "main main"
    ;
  }

  header{
    grid-area: header;
  }
  nav {
    grid-area: navbar;
  }
  main{
    grid-area: main;
  }

