.header{
    background-color: $night;
     
    
  }
  .logo{
    color: white;
  }
  
  .radius-image{
    margin-right: -10px;
    border-radius: $br--round;
    width: 44px;
  }

  .header{
    width: 100%;
  }

  .grid-header{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
  }
  .item1{
    padding:0;
    margin-right: auto;

  }

  .item2, 
  .item3,
  .item4{
    padding: 10px;
  }
   .stn-name{
    margin-top: 13px;
    font-size: 14px;
    color: white;
  }
//notification bell
#greendot {
  width: 6px;
  height: 6px;
  opacity: 1;
  border-radius: 50%;
  background-color: limegreen;
  position: relative;
  left: 23px;
  margin-bottom: -7px;
}
.displaynone {
  display: none;
}
  .notify-box {
    width: 270px;
    border-radius: 5%;
    height: fit-content;
    opacity: 1;
    position: absolute;
    right: 1px;
    top: 45px;
    left: 22px;
    transition: 0.5s opacity, 250ms height;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: none;
  }
  
  .show {
    display: block;
  }
  .notify-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 15px 5px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-content: center;
  }
  .notify-item:hover {
    background-color: whitesmoke;
  }
  .notify-item p {
    font-size: 12px;
    padding: 5px;
  }
  .notify-close {
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .notify-close:hover {
    background-color: #7773ca;
    color: white;
  }
