.header{
    background-color: $night;
     
    
  }
  .logo{
    color: white;
  }
  
  .radius-image{
    margin-right: -10px;
    border-radius: $br--round;
    width: 44px;
  }

  .header{
    width: 100%;
  }

  .grid-header{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
  }
  .item1{
    padding:0;
    margin-right: auto;

  }

  .item2, 
  .item3,
  .item4{
    padding: 10px;
  }
   .stn-name{
    margin-top: 13px;
    font-size: 14px;
    color: white;
  }

