

@media (min-width:500px){
    .notify-box{
        left: 188px;
     }
  }
@media (min-width:700px){
    .notify-box{
        left: 356px;
     }
  }
  @media (min-width: 768px){
        .grid{
          grid-template-areas: 
          "header header"
          "navbar main "
          
          ;
        }
        .home-svg, .bar-svg, .members-svg, .settings-svg {
          width: 40px;
          margin: 8px 0;
      }
        .nav{
          
          width: 99%;
        }
        #navbar{
        flex-direction: column;
        justify-content: flex-start;
        
        margin: 11px -1px;
        }
        .icon{
          margin: 15px 0;
        }
        .traffic  {
          width: 95%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 13px 4px;
        }
        .traffic-list{
          width: 374px;
        margin: 12px -25px;
        }
        .alert-banner{
          margin: 10px 0;
        }
        .notify-box{
          left: 503px;
        }
        .widget-container-full{
          width: 92%;
        
        }
        .chart23{
          display: flex;
          flex-direction: row;
        }
        .chart2{
          width:50%;

        }
        .chart3{
          width: 50%;
          border-left: 1px solid $purple;
        }
        .socialrow{
          display: flex;
          flex-direction: row;
          width: 100%;
        }

        .fb-stat,
        .inst-stat,
        .twit-stat{
          margin: 14px 10px;
          height: 97px;
          width: 55%;
        }
        
        .social-box ul :nth-child(1){
          font-size: 1.2em;
           margin: 0 -42px;
        }
        .social-box ul :nth-child(2){
          font-size: 2em;
           margin: -13px -43px;
        }
      .member-one,
      .member-two,
      .member-three,
      .member-four{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      .mem{
        margin-right: auto;
      }
      
      .member-details p, a{
        margin: 0 10px;
      }
      .activity-btn{
        display: block;
      }
      #margin-bot{
        margin-bottom: -8px;
        
      }
      .m1-time{
        padding-right: 307px;
      }
      .m2-time{
        padding-right: 300px;
      }
      .m3-time{
        padding-right:343px;
      }
     .m4-time{
      padding-right: 214px;
     } 
     .alert-text{
        text-align: center;
        margin: 11px auto;
    }
  }
  

  @media (min-width: 1024px){
     .members-bigscreen{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
     .notify-box{
        left: 660px;
     }
     .newMembers{
        width: 50%;
     }
     .recentMembers{
        border-left: 1px solid $purple;
        width: 50%;
     }
     .m1-time {
        padding-right: 247px;
    }
    .m2-time {
        padding-right: 245px;
    }
     .m3-time {
        padding-right: 244px;
    }
    .m4-time {
    padding-right: 210px;
}
     .settings-bigscreen{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }
     .form  {
        width: 50%;
     }
     .settings{
        width:50%;
        border-left: 1px solid $purple;
     }
    .span5{
        margin-top: 78px;
    }
    .buttons{
        margin: 20px 10px;
    }
    .btn-style1{
        line-height: 42px;
    }
  }

  @media (min-width: 1100px){
    .m1-time {
        padding-right: 285px;
    }
    .m2-time {
        padding-right: 285px;
    }
    .m3-time {
        padding-right: 283px;
    }
    
  }
  @media (min-width: 1200px) {
    .m3-time {
        padding-right: 330px;
    }
    .notify-box {
        left: 781px;
    }
  }