
.form-title{
    
    margin: 5px 15px;
}
.main-form input,
.main-form textarea {
    
    margin: 10px 15px;
    align-items: center;
    background-color: rgb(134, 231, 238);
    &:focus{
        background:  rgb(117, 117, 167);
        color: white;
        border: 3px solid #1d0c2a;
        transition: all 0.5s ease 0s;
    }
   
}

#submit-btn{

    background-color: rgb(91, 118, 207);
    transition: background-color .5s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: rgb(26, 34, 59);
        color: white;
    }
}
.main-form{
    display: flex;
    flex-direction: column;
    width: 98%;
    
}
textarea {
    height: 200px;
    border-radius: 10px;
    overflow: auto;
   
    
}
.main-form input {
    height: 55px;
    border-radius: 10px;
}
#submit-btn{
    color: $night;
    margin-bottom: 10px;
}
.form{
    border-bottom: 1px solid $purple;
    
}
