.nav{
    background: $sharp-blue;
}
nav{
    background: $sharp-blue;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 5px 52px;
}

.home-icon{
    width: 10%;
    padding: 18px;
    
    
    &:hover{
        cursor: pointer;
    }
}
.bars-icon{
    width: 10%;
    padding: 18px;
  
    &:hover{
        cursor: pointer;
    }
}
.members-icon{
    width: 10%;
    padding: 18px;
   
    &:hover{
        cursor: pointer;
    }
}
.settings-icon{
    width: 10%;
    padding: 18px;
  
    &:hover{
        cursor: pointer;
    }
}

