
.newMembers{
    border-bottom: 1px solid $purple;
}
.newmembers-title{
    margin: 5px 15px;
}
.mem-one,
.mem-two,
.mem-three,
.mem-four {
    border-radius: $br--round;
    margin: 15px auto;
    width: 70px;
}
.member-one,
.member-two,
.member-three,
.member-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin: 1px 20px;
}
.member-details{
        text-align: center;
        margin: 0;
        & p{
            margin: 0;
        }
}
 .date{
    margin: 0;
 }

.members-lines{
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid blue;
}

.activity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin: 1px 20px;
    & p{
        margin: 0;
    }
}
.member-text p{
    text-align: center;
}

#margin-bot{
    margin-bottom: 28px;
}


.activity-btn{
    display: none;
}

