.settings-title{
    margin: 15px 15px;
}
.email-btn{
    width: 90%;
    
    height: 150px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    // justify-content: space-between;
    flex-direction: row;
    
}

.input{
    margin-top: 15px;
}
