.settings{
    border-bottom: 2px solid red;
}
.settings-title{
    margin: 15px 15px;
}

.email-btn{
    margin: 30px;
}
.switch-light {
    width: 98%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
  }
  
  label strong {
    flex-basis: 210px;
    
    font-weight: $font-weight--medium ;
  }
  
  .switch-ios.switch-light > span {
    width: 125px;
  }
 .span5{
  width: 90%;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(47, 130, 118);
  color: white;
  margin: 0 15px;
  &:hover{
    cursor: pointer;
  }
 }


 //timezone
  .timezone{
    width: 90%;
    height: 14%;
    align-items: center;
    margin: 75px auto;
    
  }

  //buttons

.btn-style1{
    width: 50%;
    line-height: 35px;
    border-radius: 5px;
    // margin: -37px 19px;
    background-color: rgb(69, 98, 194);
    color: white;
    text-align: center;
    margin-left: 7px;
    transition: background-color .5s ease-in-out;
    &:hover{
      cursor: pointer;
      background-color: rgb(27, 38, 75); 
      
    }
}
.btn-style2{
    width: 50%;
    line-height: 35px;
    border-radius: 5px;
    background-color: rgb(119, 176, 62);
    color: white;
    text-align: center;
    margin-right: -7px;
    transition: background-color .5s ease-in-out;
    &:hover{
      cursor: pointer;
      background-color: rgb(48, 71, 25);
      
    }
}

.buttons{
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px 10px;
}