.bell{
    max-width: 30px;
    height: 30px;
    margin-top: 1px;
    margin-left: 1px;
    &:hover{
        cursor: pointer;
    }
}
.home-svg,
.bar-svg,
.members-svg,
.settings-svg{
    width: 40px;
}

